<a href="/chaveamento">
      <section class="card">
            <img src="{{ dados.img }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ab, expedita saepe numquam unde consequuntur? Tempora esse impedit eligendi inventore repudiandae error nesciunt! Saepe possimus veniam nostrum quasi neque libero.</p>
            <section class="valores">
                  <p>Valor do prêmio: <br>{{ dados.premio }}</p>
                  <p>Valor de inscrição: <br>{{ dados.entrada }}</p>
            </section>
      </section>
</a>