h1{
      font-size: 40px;
      margin: 25px;
      color: #fff;
}
.cards{
      display: flex;
      flex-direction: row;
      gap: 20px;
      overflow-x: scroll;
      scroll-behavior: smooth;
      /* scroll-margin-top: 20px; */
}
.cards::-webkit-scrollbar{
      border-radius: 1rem;
      scroll-margin-top: 10px;
}
.cards::-webkit-scrollbar-thumb{
      border-radius: 1rem;
      background-color: #00f;
}
.cards::-webkit-scrollbar-track-piece{
      border-radius: 1rem;
      background-color: #131459;
}